body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#output {
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* Style the data elements */
.data-element {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}
