body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#output {
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* Style the data elements */
.data-element {
  margin-bottom: 10px;
}

.data-price {
  font-size: 20px;
}

.hidden {
  display: none;
}

.data-container {
  width: 250px; float:left; height: 250px;; background:lightblue; margin:10px;
}
#find{
  width: 30%;
  height: 30px;
}

label{
  padding-right: 20px;
}